# Ignore all .DS_Store -
# macOS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.TemporaryItems

# Ignore __pycache__ folders 
__pycache__/

#Ignore .pyc files
**/.pyc
.pyc


# Ignore .pytest_cache folders
.pytest_cache/

# Ignore __MACOSX folders
__MACOSX/

# Ignore .env files
.env
