# Ignore .DS_Store files 
.DS_Store

# Ignore __pycache__ folders 
__pycache__/

#Ignore .pyc files
*.pyc


# Ignore .pytest_cache folders
.pytest_cache/

# Ignore __MACOSX folders
__MACOSX/

# Ignore virtual environment folders
venv/