# docs/assets/css/custom.scss
---
---

@import "./support/mixins";

$content-width: 900px;
$nav-width: 280px;
$transition-duration: 250ms;

.main {
  @include mq(lg) {
    position: relative;
    max-width: $content-width + $nav-width;
    margin: 0 auto;
  }
}

// Custom breadcrumbs styling
.breadcrumbs {
  @extend .navigation-list;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
  li {
    display: inline-block;
    margin-right: 0.5rem;
    
    &:not(:last-child):after {
      content: "/";
      margin-left: 0.5rem;
      color: $grey-dk-000;
    }
  }
}

// Custom code block styling
div.highlighter-rouge {
  margin-top: 1rem;
  margin-bottom: 1rem;
  
  pre.highlight {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: $code-background-color;
    border-radius: $border-radius;
  }
}